onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=microsandbox
onlyBuiltDependencies[]=@superradcompany/microsandbox-linux-x64-gnu
onlyBuiltDependencies[]=@superradcompany/microsandbox-linux-arm64-gnu
onlyBuiltDependencies[]=@superradcompany/microsandbox-darwin-arm64
